*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    gap: 6%;
    padding: 15px;
    justify-self: center;
    align-content: center;
    justify-content: center;
}


.about-img {
    width: 450px;
    height: 295px;
    border-radius: 20px
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px
}

.about-text {
    width: 360px;
}
.about-text h1 {
    font-size: 18px;
    color: green;
}
.about-text h2 {
    font-size: 25px;
    padding-top: 15px;
}

.about-text h3 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    color: green;
}

.about-text p {
    font-size: 15px;
    margin-bottom: 30px;
}
.btn {
    text-decoration: none;
    padding: 15px;
    background-color: green;
    width: 100px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
@media (max-width: 936px) {
    .about-content {
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
        
        text-align: start;
        justify-self: center;
        align-content: center;
        justify-content: center;
    }
    .about-text {
        width: 450px;
    }
    .about-text h1 {
        padding-top: 20px;
    }
}

@media (max-width: 470px) {
    .about-img {
        height: 250px;
    }
}



/*.about-img img {
    width: 100%;
    margin-right: 50%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem gray;
    border: .2rem solid var(--main-color);
}

.heading {
    font-size: 1rem;
    color: #3A8E3A;
}


.about-content h3 {
    color: #3A8E3A;
}
.about-content p {
    font-size: 1rem;
    margin: 3rem;
    margin-right: 50%;
    margin-left: -1rem;
}



.btn {
    display: inline-block;
    padding: .5rem .5rem;
    background: #3A8E3A;
    border-radius: .5rem;
    box-shadow: 0 0 1rem #3A8E3A;
    font-size: 1rem;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    margin-top: -2rem;
    margin-left: 15%;
    transition: .5s ease;
    text-decoration: none;
}
.btn:hover {
    box-shadow: 2rem;
}

@media (max-width: 768px) {
    .about {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column-reverse;
    }

    .about-content p {
    font-size: 1.5rem;
    margin: 3rem;
    margin-right: 0%;
    margin-left: 1rem;
    }

    .about img {
        width: 100%;
        margin-top: 2rem;
    }
}
*/