<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <section class="about" id="about">
      <div class="about-content">
      <div class="about-img">
        <img
          src="/frontend/eden-pages/src/component/img/Farmer img.jpeg"
          alt=""
        />
      </div>

      <div class="about-text">
        <h1 class="heading">About us</h1>
          <h2>"Empowering Agriculture, Enriching Lives"</h2>
          <h3>Welcome to Eden,</h3>
        <p>
          where innovation meets agriculture to create a
          sustainable and prosperous future for smallholder farmers around the
          globe. Founded with a deep-rooted commitment to advancing agricultural
          practices and empowering communities, Eden is a beacon of positive
          change in the agri-tech landscape.
        </p>
        <a href="#" class="btn">Read more</a>
      </div>
    </div>
    </section>
  </body>
</html>
