/* style.css */

.Services {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    box-shadow: 0rem 1rem 1rem whitesmoke;
}

.Service {
    margin: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    background: rgba(236, 241, 236, 0.3);
    border-radius: 1rem;
}

.Service1 {
    margin: 10px;
    text-align: center;
}

.Service1 h2 {
    color: #3A8E3A;
}

.Service img {
    height: 200px;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 1rem 1rem 0 0;
}

.Service p {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
}

.Service h4 {
    color: black;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: #3A8E3A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #6daa6d;
}

/*.title {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    border-color: #3A8E3A;
}*/

@media (max-width: 767px) {
.Services  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.Service {
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    }
}
