<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tt.css">
</head>
<body>
    <div class="img-cont" style="height: 400px; width: 100%;">
    <img src="../../public/food_procssing_aaad3ad0c8.jpg" alt="hello">
</div>
<footer>
<div class="cent-cont">
  <div>
    <h1>Get in touch</h1>
    <p>Location, City, Country<br>
        info@example.com<br>
        +012 345 6789</p>
  </div>
  <div>
    <h1>Quick Links</h1>
    <ul class="list">
        <li>Home</li>
        <li>Contact us</li>
        <li>About us</li>
        <li>My Services</li>
        <li>Meet the team</li>
        <li>Latest Blogs</li>
    </ul>
  </div>
  <div>
    <h1>Popular Links</h1>
    <ul class="list">
        <li><a href="#">Home</a></li>
        <li>Contact us</li>
        <li>About us</li>
        <li>My Services</li>
        <li>Meet the team</li>
        <li>Latest Blogs</li>
    </ul>
  </div>
  <div class="Newsletter">
    <h1>NEWSLETTER</h1>
    <h2>Suscribe to our Newsletter</h2>
    <p>Amet diam dolor rebum lorem sit stet sea justo kasd</p>
    <div class="input-space">
    <form>
      <div class="input-group">
        <input type="text" id="name" required><label for="name">Your E-mail</label><button>Sign up</button>
      </div>
      </form>
  </div>
</div>
</div>
</footer>
</body>


</html>

