<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Footer.css">
</head>
<body>
    <div class="img-cont" style="height: 400px; width: 100%;">
    <img src="../../public/food_procssing_aaad3ad0c8.jpg" alt="hello">
</div>
<footer>
<div class="cent-cont">
  <div>
    <h1>Quick Links</h1>
    <ul class="list">
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">My Services</a></li>
      <li><a href="#">Meet the team</a></li>
      <li><a href="#">Latest Blogs</a></li>
    </ul>
  </div>
  <div><p>&copy; 2023 Eden. All Rights Reserved.</p></div>
</div>
</footer>
</body>


</html>

